@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Swiper Pagination Styles */
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #c91d94 !important;
  opacity: 1;
}
